# OPC UA
OPC_URL=opc.tcp://192.168.10.100:4848
OPC_ROOT_NODE=WorkPlace_saml1

# Zabbix
ZABBIX_SERVER=127.0.0.1
ZABBIX_HOST=Test OPC

# Discovery
DISCOVERY_KEY=bolid.discovery

# Local state file
STATE_FILE=last_states.json
